GOOGLE_API_KEY=AIzaSyBObCuN2gmy7EaEohil1MHVFfBjm0sZ5IA
GOOGLE_SEARCH_ENGINE_ID=00d3f9dca18394907
MONGODB_URI=mongodb+srv://jasonalexst:ydaK5FsMYTRmrn@cluster0.mzuzh.mongodb.net
MONGODB_DATABASE=unihack